//color
$dark-blue: #77abd9;
$light-blue: #A9BED9;
$light-green: #a8dba8;
$dark-yellow: #F7F0D4;
$light-yellow: #FAF6E5;
$dark-brown: #736357;
$light-brown: #CFAE8B;


//font-size
$x-large: 3.95rem;
$large: 2.25rem;
$medium: 2rem;
$small: 1.25rem;
$x-small: 1rem;
$button: 1.12rem;
