@import 'setup';
@import 'variables';

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Abel', sans-serif;
    background-color: $light-blue;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: $x-large;
}

header {
    width: 100%;
    height: 15%;
    background-color: $dark-blue;
    color: $light-green;
    text-align: center;
    h2 {
        font-size: $large;
    }
}


main {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
} 

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    width: calc(100% / 2 - 100px);
    height: 100%;
}

.fridge {
    width: 100%;
    height: 90%;
    background-color: $light-yellow;
    border-radius: 3%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 25%;
        background-color: white;
        border: 1px solid black;
        border-radius: 3%;
        margin-top: 2.5%;

        input {
            margin: 5px;
            width: 85%;
            height: 40%;
            border: none;
            font-size: $medium;
        }

        ::placeholder {
            font-size: $medium;
        }

        .add-button {
            margin: 5px;
            padding: 0;
            width: 30px;
            height:30px;
            border-radius: 50%;
            background-color: $dark-brown;
            border: 1px solid black;
        }

        button i {
            font-size: 20px;
            height: 20px;
            width: 20px;
            color: white;
        }

        button:hover,
        button:focus {
            opacity: 0.5;
        }
    }

    .storage {
        padding: 10px;
        width: 90%;
        height: 70%;
        background-color:$dark-yellow;
        border-radius: 3%;
        border: 1px solid black;
        color: $dark-brown;
        position: relative;

        li {
            font-size: $medium;
            list-style: none;
        }

        i {
            font-size: $small;
            margin-right: 3px;
        }
         
         .clear-storage {
            border: 2px solid $dark-brown;
            border-radius: 3%;
            background-color: $light-green;
            color: $dark-brown;
            font-size: $small;
            position: absolute;
            bottom: 5px;



            a {
                text-decoration: none;
                color: $dark-brown;
            }
        }

        .clear-storage:hover,
        .clear-storage:focus {
            cursor: pointer;
            opacity: 0.5;
        }
    }

    .recipe-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 35%;
        background-color: $dark-yellow;
        border-radius: 3%;
        border: 1px solid black;
        margin-top: 2.5%;

        .recipe-label{
            width: 50%;
            text-align: center;
            padding-left: 15%;
            padding-right: 5%;
            font-size: $medium;
        }
        .image-container {
            visibility: hidden;
            width: auto;
            height: 90%;
            max-height: 90%;
            overflow: none;
            margin: 10px;

            .recipe-image {
                width: 100%;
                height: 100%;
                border-radius: 3%;
                object-fit: contain;
    
            }
        }

    }

    .recipe {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 55%;
        background-color: $dark-yellow;
        border-radius: 3%;
        border: 1px solid black;
        color: $dark-brown;
        padding: 5px;
        overflow-y: auto;
        // position: relative;
        ul {
            padding-left: 5px;
        }
    
        li {
            font-size: $medium;
            list-style: none;
        }

        i {
            font-size: $small;
            margin-right: 3px;
        }

    }
    .recipe-link {
        width: 90%;
        button {
            border-radius: 3%;
            border: 2px solid $dark-brown;
            background-color: $light-green;
            color: $dark-brown;
            font-size: $small;
            // position: absolute;
            // bottom: 5px;
            width: 100%;
            align-self: center;
   
            a {
                text-decoration: none;
                color: $dark-brown;
            }
        }

        button:hover,
        button:focus {
            cursor: pointer;
            opacity: 0.5;
        }
    }
}

.button-section {
    width: 200px;
    text-align: center;

    .submit-button {
        background-color: $light-green;
        width: 70%;
        height: 100px;
        font-size: $medium;
        color: $dark-brown;
        border: 2px solid $dark-brown;
        border-radius: 5%;
    }

    .submit-button:hover,
    .submit-button:focus {
        opacity: 0.5;
        cursor: pointer;
    }
}


footer {
    position: absolute;
    bottom: 0;
    background-color: $light-green;
    width: 100%;
    height: 5%;
    text-align: center;
    color: $dark-blue;
    font-size: $medium;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center ;
    p {
        padding: 0;
        font-size: $small;
    }
}

@media (max-width: 900px) {
    .wrapper {
        width: 95%;
    }
    header h2 {
        font-size: $tablet;
    }

    .fridge {
        form input {
            width: 70%;
        }
        form ::placeholder{
            font-size: $small;
        }

        .recipe-label {
            font-size: $tablet;
        }
        .recipe li{
            font-size: $small;
        }
        
    }
    .button-section {
        width: 150px;
      
    }
}

@media (max-width: 650px) {
    main{
        flex-direction: column;
        height: 100vh;
        
        .main-section {
            width: 90%;
            max-width: 300px;
        }

    }
    footer {
        position: relative;
    }
}

@media (max-width: 420px) {
    header {
        height: 20%;
    }
}